<configuration debug="true">
  <!-- log to console -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <!-- for logging to files see: https://logback.qos.ch/manual/appenders.html -->

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  
  <logger name="teetime.framework.Execution" level="WARN" />
</configuration>
