
/build-eclipse/
/build/
/dist/
/tmp/
META-INF/MANIFEST.MF
plugin.properties
plugin.xml
*~
*.backup
/*.log
.DS_Store
/TraceAnalysisGUI.properties
/activemq-data
/invalidTraceArtifacts-yyyyMMdd-HHmmssSSS.txt
/messageTraces-yyyyMMdd-HHmmssSSS.txt
/examples/JavaEEServletContainerExample/livedemo/build-eclipse
