# do not ignore the whole ".settings" folder.
# For example, save actions should be used by all contributors (see org.eclipse.jdt.ui.prefs).
# And the formatter (see **/.settings/org.eclipse.jdt.core.prefs)
wrapper/**
kieker-documentation/_build/**
**/daemon/**
**/caches/**
**/\?/**
**/.settings/edu.umd.cs.findbugs.core.prefs
**/.settings/org.eclipse.buildship.core.prefs
.project
.classpath
build-eclipse/
/build/
/dist/
/tmp/
META-INF/MANIFEST.MF
plugin.properties
plugin.xml
*~
*.backup
/*.log
.DS_Store
/TraceAnalysisGUI.properties
/activemq-data
/invalidTraceArtifacts-yyyyMMdd-HHmmssSSS.txt
/messageTraces-yyyyMMdd-HHmmssSSS.txt
/kieker-examples/userguide/ch2--bookstore-application/build
/kieker-examples/userguide/ch2--bookstore-application/.gradle
kieker-examples/monitoring/probe-aspectj/kieker.log
kieker-examples/monitoring/probe-spring/kieker.log
kieker-examples/analysis/trace-analysis/kieker.log
/kieker-tools/*.log
/kieker-tools/activemq-data
/kieker-analysis/*.log
/kieker-checkstyle-extension/bin
/docs
/javadoc
.gradle
/src-gen
/test-gen
**/build/**
**/bin/**

# Eclipse
**/.settings/**

# IntelliJ
.idea/
*.iml
*.iws

# Do not version temporary files
**/output-html/**
kieker-tools/log-replayer/kieker.log
