<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/Kieker/model/AnalysisMetaModel.ecore"
            class="kieker.analysis.model.analysisMetaModel.AnalysisMetaModelPackage"
            genModel="model/AnalysisMetaModel.genmodel"/>
   </extension>

</plugin>
