buildDate=2008-08-06

# 1. Tpmon runtime properties
# Most likely, these have to be adapted to your demands!
# These properties affect the runtime behavior of tpmon,
# such as the data storage mode.

# 1.1 General tpmon properties 
# 1.1.1 Store monitoring data in a remote database or in the file system?
storeInDatabase=false
#jmsProviderUrl=tcp://localhost:3035/
#jmsProviderUrl=tcp://pc-rohr.informatik.uni-oldenburg.de:3035//
#sendMonitoringDataToJMSserver=false


# 1.1.2 Run tpmon in debug mode
# In debug mode, tpmon is very verbose during runtime (default: false)
debug=false

# 1.1.3 Should monitoring be enabled after startup 
# (you may want to turn it on later (e.g., using the control-servlet))
monitoringEnabled=true

# 1.2 database configuration
# (only required when storeInDatabase=true)
 
# 1.2.1 database connection
# provide meaningful values for HOSTNAME,
# DATABASENAME,DBUSER,DBPASS
dbConnectionAddress=jdbc:mysql://HOSTNAME/DATABASENAME?user=DBUSER&password=DBPASS

# 1.2.2 name of the database table 
# (can be generated using the file table-for-monitoring.sql):
dbTableName=turbomon9

# 1.2.3 Other database setting (usually you don't touch these)
# Check the database for the last experiment id and increase it by 1
setInitialExperimentIdBasedOnLastId=false
useAsyncDbconnector=true
 
# 1.3 File system storage mode
#
# 1.3.1 Where to store monitoring data:
# There are two ways to configure the data storage folder: 
# a. Write into files (tmpon-[..].data) into java.io.tmpdir (on UNIX e.g. /tmp. on windows C:\\Docum...\Temp) (default)
# b. Monitoring data will be stored in the [customStoragePath] if storeInJavaIoTmpdir is set to false
# 
# The following both properties may be overwritten via java command line parameters 
# (java -Dtpmon.storeInJavaIoTmpdir=false -Dtpmon.customStoragePath=/var/log/)

#1.3.1.a (should the systems default temporary folder by used?)
tpmon.storeInJavaIoTmpdir=true

#1.3.1.b (use this custom storage folder)
# e.g. /var/tpmon/ or "c:\tmponData\" (ensure the folder exists)
tpmon.customStoragePath=/tmp/
 
# 1.3.2 FS storage mode (less outliers):
asyncFsWriter=true


# 2. Tpmon build properties (no changes required)

# 2.1 do you want to use debugging functionality of the jvm (true/false)?
tpmon.javac.debug=false


# 3. External libraries (no changes required)
# If you want to use a other version of the mysql-connector 
# you have adjust the entry "mysqldriver".
aspectjtoolsjar=external-libs/aspectjtools.jar
aspectjrtjar=external-libs/aspectjrt.jar
aspectjweaverjar=external-libs/aspectjweaver.jar
aspectjlibjar=external-libs/aspectjlib.jar
# all other files in the external-libs folder are automatically used
