<!DOCTYPE html>
<html>
<body>
	<div class="page">
     	<div>
	        <img src="../img/header_image_small.jpg" width="960" height="125" border="0" usemap="#kiekermenumap" />
	        <map name="kiekermenumap">
	          <area shape="rect" coords="70,3,350,93" href="http://kieker-monitoring.net" alt="home" title="home" />
	        </map>
    	</div>	    	
	  	<div class="menu-header">
	  		<ul class="menu">
	  			<li class="menu-item"><a href="#!main">Main Menu</a></li>
	  			<li class="menu-item"><a href="#!recordList">Record List</a></li>
	  			<li class="menu-item current-menu-item"><a href="#!methodResponsetime">Method Response Times</a></li>
		        <li class="menu-item"><a href="#!main">System Model</a></li>
		        <li class="menu-item"><a href="#!main">CPU and MemSwap</a></li>
			</ul>
		</div>	
		
		<div location="main"></div>	
		
		<div id="footer">
       		<div id="footernav" class="nav">
        		<ul class="menu">
          			<li class="menu-item"><a href="http://kieker-monitoring.net/contact/">Contact</a></li>
          			<li class="menu-item"><a href="http://kieker-monitoring.net/legal-notice/">Legal Notice</a></li>
        		</ul>
        	</div>
    	</div>
	</div>
</body>
</html>