<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Kicker Example 4 ch5--trace-monitoring-aspectj/src/kicker/examples/userguide/ch5bookstore/BookstoreStarter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="kicker.examples.userguide.ch5bookstore.BookstoreStarter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Kicker Example 4 ch5--trace-monitoring-aspectj"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:${workspace_loc:Kicker/lib}/aspectjweaver-1.8.0.jar"/>
</launchConfiguration>
