/jetty-hightide-jpetstore/webapps/jpetstore/WEB-INF/lib/kieker-*.jar
/jetty-hightide-jpetstore/webapps/jpetstore/WEB-INF/lib/*sigar*
/jetty-hightide-jpetstore/webapps/demo/WEB-INF/lib/kieker-*.jar
/jetty-hightide-jpetstore/webapps/demo/WEB-INF/classes