/jetty-hightide-jpetstore/webapps/jpetstore/WEB-INF/lib/kicker-*.jar
/jetty-hightide-jpetstore/webapps/jpetstore/WEB-INF/lib/*sigar*
/jetty-hightide-jpetstore/webapps/demo/WEB-INF/lib/kicker-*.jar
/jetty-hightide-jpetstore/webapps/demo/WEB-INF/classes