name: Synchronize Mirrors

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Synchronize SE GitLab
        run: |
          git remote add mirror https://oauth2:${{ secrets.SE_GIT_MIRROR }}@git.se.informatik.uni-kiel.de/kieker/kieker.git
          git push mirror main --force
