<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <display-name>JPetStore</display-name>
  <description>Online Pet Store Sample Application</description>

  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>com.ibatis.jpetstore.web.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.shtml</url-pattern>
  </servlet-mapping>
 
 <!-- Begin: Integration of kieker.monitoring.probe.servlet.OperationExecutionRegistrationAndLoggingFilter -->
 <filter>
  <filter-name>sessionRegistrationFilter</filter-name>
  <filter-class>kieker.monitoring.probe.servlet.OperationExecutionRegistrationAndLoggingFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>sessionRegistrationFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <!-- End: Integration of kieker.monitoring.probe.servlet.OperationExecutionRegistrationAndLoggingFilter -->

 <!-- Begin: Example for kieker.monitoring.probe.servlet.CPUMemUsageServletContextListener  -->
 <!--<context-param>
   <param-name>CPUMemUsageServletContextListener.samplingIntervalSeconds</param-name>
   <param-value>15</param-value>
 </context-param>

 <context-param>
   <param-name>CPUMemUsageServletContextListener.initialSamplingDelaySeconds</param-name>
   <param-value>0</param-value>
 </context-param>

 <listener>
   <listener-class>
     kieker.monitoring.probe.servlet.CPUMemUsageServletContextListener
   </listener-class>
 </listener>-->
 <!-- End: Example for kieker.monitoring.probe.servlet.CPUMemUsageServletContextListener -->

  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <taglib>
    <taglib-uri>struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>struts-html</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
  </taglib>

  <resource-ref>
    <description>
      JPetStore DataSource
    </description>
    <res-ref-name>
      jdbc/jpetstore1
    </res-ref-name>
    <res-type>
      javax.sql.DataSource
    </res-type>
    <res-auth>
      Container
    </res-auth>
  </resource-ref>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>
        Restrict access to JSP pages
      </web-resource-name>
      <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>
        With no roles defined, no access granted
      </description>
    </auth-constraint>
  </security-constraint>

</web-app>
